body{
background: url('images/ombre.jpg');top center no-repeat;
background-attachment: fixed;
background-size: cover;}

nav ul {
display: flex;
  justify-content: space-evenly;
  padding: 1em;

}

header h1 {margin: 10px;
padding-top:300px;
font-size: 7em;
color:#9378BF;
text-align: center;
}

header h2 {
  margin-bottom: 50px;
  text-align: center;
}

section{
  min-height:98vh;
}

.menu-close {
  background:#4D6D8F;
  align-items: center;
  justify-content: center;
  display:flex;
  width:40px;
  height:40px;
  border-radius: 100%;
  color: white;
  opacity:50;

}







#main-menu ul a {
  display:block;
padding:10px;
margin-bottom:7px;
opacity:50;
}

#main-menu ul #linkpub {
text-decoration:underline #C6A5DA;
}

#main-menu ul #linkidentite {
text-decoration:underline #EAAAF1;
}

#main-menu ul #linktypo {
text-decoration:underline #C3AAF1;
}

#main-menu ul #linkcontact {
text-decoration:underline #A8A3E7;
}


#main-menu {
  background: white;
  opacity:50;
  position:absolute;
margin-top:250px;
  left:-50%;
  z-index:999;
  transition: 2s all ease;
}


#main-menu:target {
  left:50%;
  transform: translateX(-50%);
  opacity:50;
}







.toggle-menu {
  display: block;
  width: 300px;
  text-align: center;
  margin: 0 auto;
  opacity:50;
}




#Identité h1 {
  font-size: 4em;
  padding-left: 40px;
  padding-top: 500px;
  text-align: center;
}

figcaption h2 {padding-top: 20px;
object-fit: contain;}

.projet-feature-content{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
text-align: center;
}

.projet-feature {
  padding:1em;
flex-basis: 320px;
flex-grow: 1;
flex-shrink:1}






#publicité h1{
  font-size: 4em;
  padding-left: 40px;
  text-align: center;
  padding-top: 200px;
}

.publicité-feature-content{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 200px;
  text-align: center;
}

.publicité-feature  {
margin: 10px;
flex-basis: 320px;
flex-grow: 1;
flex-shrink:1
}






#Typoedition h1{
  font-size: 4em;
  padding-left: 40px;
  padding-top: 200px;
  text-align: center;
}

.typoedition-feature-content{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 200px;
  text-align: center;
}

.typoedition-feature  {
margin: 10px;
flex-basis: 320px;
flex-grow: 1;
flex-shrink:1
}

.barry #tel {
margin-left: : 200px,
}



#Contact h1{
  font-size: 4em;
  padding-left: 40px;
  padding-top: 500px;
  text-align: center;
  padding-top: 120px;
}

.video {
  text-align: center;
  margin-top: 100px;
}
.texte {
  font-size:0,2em;
}
