@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:wght@500&family=Raleway&display=swap');

body{ font-family: sans-serif;}


nav ul { font-family: 'Raleway', sans-serif;
font-size: 1.1em;}

h1 {font-family: 'Abril Fatface', cursive;
  font-size: 2.5em;
  margin-bottom: 1em;
  color:#9378BF;
}

h2 {font-family:'Lora', serif;
  font-size: 1.4em;
  margin-bottom: 1em;
}

figcaption h2 {
color:#654673;
}

p {font-family: 'Raleway', sans-serif;}



#main-menu ul a {
  font-family:'Abril Fatface', cursive;
}

.textecontact {
  font-size: 10px;
}


.barry h1{
font-size: 4em;
margin-top: 100px;
text-align: center;
  }
